{% autoescape off %}
<div class="drag-and-drop-xblock-wrapper">
    <h2>{{title}} {{max_score_string}}</h2>

    <div class="drag-and-drop-description">
        {{ description }}
    </div>
    <div class="drag-and-drop-wrapper">
        <div class="drag-and-drop-items-pane">
            <ul class="draggable-item-list">
                {% for item in items %}
                <li class="draggable-item{% if item.no_bg_color %} draggable-item-no-bg-color{% endif %}" data-id="{{item.id}}" data-correctbucket="{{item.correct_target}}">{{item.body}}</li>
                {% endfor %}
            </ul>
            &nbsp;
        </div>
        <div class="drag-and-drop-targets-pane">
            {% for target in targets %}
                <div class="{{draggable_target_class}}" data-id="{{target.id}}" data-row="{{target.row}}">
                    <div class="draggable-target-top">
                        <div class="draggable-target-top-text">
                            <span class="draggable-target-title">
                                {{target.title}}
                            </span>
                            <span class="draggable-target-description">
                                {{target.description}}
                            </span>
                        </div>
                    </div>
                    <div class="draggable-target-landing">
                        <ul class="dropped-items"></ul>
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="drag-and-drop-feedback">
            <div class="drag-and-drop-feedback-close">&#xf057;</div>
            <div class="drag-and-drop-feedback-content">
            </div>
        </div>
    </div>
    <div class="{{correct_feedback_class}}">
        <hr>
        <h2>Feedback</h2>
        <div class="drag-and-drop-completed-feedback-content">
            {{correct_feedback}}
        </div>
    </div>
</div>
{% endautoescape %}
