.drag-and-drop-wrapper * {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background-clip: content-box;

  /* don't allow user to select text here */
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select:none;
  user-select:none;
}

.drag-and-drop-description p {
    padding-bottom: 10px;
}

.drag-and-drop-wrapper {
    width: 750px;
    margin: 0 auto;
    background-color: #F3F3F3;
    overflow: auto;
    padding-top: 10px;
    padding-left: 10px;
    position: relative;
}

.drag-and-drop-items-pane {
    width: 30%;
    float: left;
    padding-right: 20px;
}

.drag-and-drop-wrapper li p {
    font-family: "Open Sans";
    font-size: 14pt;
    font-weight: bold;
    padding-left: 10px;
    padding-top: 7px;
    color: #FFFFFF;
}

.draggable-item {
    padding-bottom: 5px;
    background-color: #3384CA;
    list-style-type: none;
    z-index: 9999999;
    /* note, this is a hack to get to work in Firefox otherwise the redraw looks really funky */
    outline: 1px solid transparent;
    height: 45px;
    width: 210px;
}

.draggable-item.draggable-item-original {
    background-color: #B1C2CC;
}


.drag-and-drop-targets-pane {
    width: 70%;
    float: left;
}

.draggable-target {
    width: 50%;
    float: left;
    padding-right: 10px;
    padding-bottom: 10px;
}

.draggable-target-full-width {
    width: 100%;
    float: left;
    padding-right: 0;
    padding-bottom: 0;
}

.draggable-target-top {
    width: 100%;
    background-color: #002960;
}

.draggable-target-top-text {
    padding-left: 5px;
    padding-bottom: 5px;
}

.draggable-target-title {
    color: #FFFFFF;
    font-family: "Open Sans";
    font-weight: bold;
}

.draggable-target-description {
    color: #FFFFFF;
    font-family: "Open Sans";
}

.draggable-target-landing {
    display: inline-block;
    width: 100%;
    min-height: 150px;
    background-color: #E5EBEE;
    vertical-align: bottom;
    border-style: dashed;
    border-width: 1px;
}

.draggable-target-landing-hover {
    background-color: #FFFFFF;
}

.draggable-target-landing .dropped-items {
    padding-left: 0;
    margin-left: 10px;
    margin-top: 15px;
    margin-bottom: 15px;
    width: 75%;
}

.dropped-correct-item {
    background-color: #E37222;
    list-style-type: none;
    height: 45px;
    width: 210px;
    padding-bottom: 5px;
}


.drag-and-drop-feedback {
    position: absolute;
    top: 10%;
    left: 32%;
    min-height: 350px;
    width: 500px;
    background-color: rgba(0, 101, 189, 0.90);
    display: none;
}

.drag-and-drop-feedback-content {
    color: #FFFFFF;
    margin-left: 10px;
    margin-top: 15px;
}

.drag-and-drop-feedback-close {
    float: right;
    margin-right: 5px;
    margin-top: 0px;
    margin-left: 20px;
    color: #FFFFFF;
}
