.drag-and-drop-wrapper * {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background-clip: content-box;

  /* don't allow user to select text here */
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select:none;
  user-select:none;
}

.drag-and-drop-description p {
    padding-bottom: 10px;
}

.drag-and-drop-wrapper {
    width: 750px;
    margin: 0 auto;
    background-color: #EBF0F2;
    overflow: hidden;
    padding-top: 10px;
    padding-left: 10px;
    position: relative;
}

.drag-and-drop-items-pane {
    min-width: 30%;
    float: left;
    padding-right: 20px;
}

.drag-and-drop-items-pane > ul.draggable-item-list {
    margin-top: 0;
    margin-left: 0;
    padding-top: 0;
    padding-left: 0 !important;
}

.drag-and-drop-wrapper li p {
    font-family: "Open Sans",sans-serif;
    font-size: 12pt;
    font-weight: bold;
    padding-left: 10px;
    padding-top: 7px;
    color: #FFFFFF;
}

.draggable-item {
    padding-bottom: 5px;
    background-color: #3384CA;
    list-style-type: none;
    z-index: 9999999;
    /* note, this is a hack to get to work in Firefox otherwise the redraw looks really funky */
    outline: 1px solid transparent;
    min-height: 45px;
    width: 210px;
}

.draggable-item > img {
    width: 100%;
}

.draggable-item.draggable-item-no-bg-color {
    background-color: transparent;
}

.draggable-item.draggable-item-original {
    background-color: #E0E0E0;
}

.drag-and-drop-targets-pane {
    width: 68%;
    float: left;
}

.draggable-target {
    width: 50%;
    float: left;
    padding-right: 10px;
    padding-bottom: 10px;
}

.draggable-target-full-width {
    width: 100%;
    float: left;
    padding-right: 0;
    padding-bottom: 0;
}

.draggable-target-top {
    width: 100%;
    background-color: #B1C2CC;
}

.draggable-target-top-text {
    padding-left: 8px;
    padding-bottom: 5px;
    padding-top: 3px;
}

.draggable-target-title {
    color: #333333;
    font-family: "Open Sans",sans-serif;
    font-weight: bold;
    font-size: 12pt;
}

.draggable-target-description *{
    color: #333333;
    font-family: "Open Sans",sans-serif;
    font-size: 12pt;
}

.draggable-target-landing {
    display: inline-block;
    width: 100%;
    min-height: 150px;
    background-color: #FFFFFF;
    vertical-align: bottom;
    border-style: dashed;
    border-width: 1px;
    border-color: #B1C2CC;
}

.draggable-target-landing-hover {
    background-color: #FFFFFF;
}

.draggable-target-landing .dropped-items {
    padding-left: 0 !important;
    margin-left: 10px;
    margin-top: 15px;
    margin-bottom: 15px;
    width: 75%;
}

.dropped-correct-item {
    background-color: #868685;
    list-style-type: none;
    min-height: 45px;
    width: 210px;
    padding-bottom: 5px;
}

.dropped-correct-item > img {
    width: 100%;
}

.dropped-correct-item.dropped-correct-item-no-bg-color {
    background-color: transparent;
}

.drag-and-drop-feedback {
    position: absolute;
    top: 15%;
    left: 32%;
    min-height: 50px;
    width: 500px;
    background-color: rgba(102, 165, 181, 0.90);
    display: none;
    overflow-y: auto;
    max-height: 80%;
}

.drag-and-drop-feedback-content {
    color: #FFFFFF;
    margin-left: 15px;
    margin-top: 35px;
    margin-bottom: 15px;
}

.drag-and-drop-feedback-close {
    float: right;
    margin-right: 8px;
    margin-top: 8px;
    margin-left: 20px;
    color: #FFFFFF;
    font-family: "fontawesome";
    font-size: 18pt;
}

.drag-and-drop-completed-feedback-visible {
    display: block;

}

.drag-and-drop-completed-feedback {
    display: none;
}

